*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9b9f9f;
}
.app{
    width: 90%;
    max-width: 470px;
    background: #ebfffc;
    padding: 40px 35px;
    margin: 100px auto 0;
    text-align: center;
    border-radius: 10px;
}
.search{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.text-input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    flex: 1; 
    height: 60px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}
.btn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.button-img{
    width: 16px;
}
